body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #404040;
    background-color: white;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/*Заголовок*/
header {
    padding-top: 35px;
    min-height: 100px;
    color: #c3c3c3;
    background-color: #a38b70;
}

.header-logo {
    float: left;
}

.main-nav {
    float: left;
    list-style: none;
    color: #c3c3c3;
}

.main-nav li {
    float: left;
    margin-right: 50px;
}

.main-nav a {
    color: #ffffff;
    text-decoration: none;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}


/*Основное содержимое*/
.content {
    padding-bottom: 60px;
}

.page-title {
    margin: 0;
    margin-right: 180px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
    line-height: 55px;
    font-family: "Georgia", serif;
    color: #a38b70;
}


/*Списковая страница*/
.data-list {
    width: 100%;
    border-collapse: collapse;
    line-height: 30px;
}

.data-list th {
    font-weight: normal;
    font-size: 16px;
}

.data-list td {
    border: 1px solid #d8d8d8;
}

.data-list .no-border {
    border: none;
    padding-left: 5px;
    padding-right: 0;
}

.data-list th,
.data-list td {
    padding: 10px 17px;
}

.data-list th a {
    text-decoration: none;
    color: #a38b70;
}

.data-list th a:active {
    color: #a38b70;
    opacity: 0.3;
}

.data-list td a {
    text-decoration: none;
    color: #a38b70;
    opacity: 0.8;
    font-size: 13px;
}

.data-list td a:active {
    opacity: 0.3;
}

/*Навигационная ссылка*/
.nav-link {
    margin-bottom: 10px;
}

.nav-link a {
    text-decoration: none;
    font-size: 16px;
    color: #a38b70;
}

.nav-link a:hover {
    opacity: 0.8;
}

.nav-link a:active {
    opacity: 0.6;
}


/*Подвал*/
footer {
    color: #c3c3c3;
    background-color: #a38b70;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}